*{
    margin: 0;
    padding: 0;
}

main{
    background-color: rgb(229 208 201);
}

/* header part starts here */
header{
    position: relative;
}

.logo{
    position: absolute;
    height: 100%;
    left: 10%;
}

.logo img{
    height: 100%;
    border-radius: 50%;
    padding-top: 10px;
}

.head-text{
    text-align: center;
    font-size: 28px;
    color: #082a74;
    padding-top: 10px;
}

.head-text p{
    padding: 5px 0px;
}

#exam-name{
    font-size: 22px;
}

/* table css start here */
.table-section{
    font-size: 20px;
    height: 40em;
    position: relative;
    top: 1em;
}

table, td{
    border: 1px solid #082a74;
    border-collapse: collapse;
}

td{
    color: #082a74;
    padding-left: 10px;
}

table{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: aliceblue;
}

.tr-data td:not(.tr-data td:nth-child(1)){
    color:black ;
}

.common-align{
    text-align: center;
}

/* footer starts here */
footer{
    padding-top: 1em;
}

.footer-div{
    width: 80%;
    margin: auto;
    padding: 1em 0;
}

.result-status{
    font-weight: bold;
    font-size: 20px;
}

.footer-text-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    font-size: 20px;
}

.designation p{
    text-align: center;
}
 

